* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", serif;
  letter-spacing: 1;
}

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  display: none;
}

.game-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.game-btn-container button {
  padding: 0.5em 1em;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 1px;
  background-color: #00000081;
  color: #ffffffa2;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.start-button:hover {
  background-color: #88c63f;
  transform: scale(1.1);
  transform: rotate(-5deg);
  color: #fff;
  text-shadow: 1px 2px #23232371;
}
