* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", serif;
  letter-spacing: 1;
}

main.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: none;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.score-container,
.level-container {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffffa2;
  text-shadow: 1px 2px #23232371;
}

.game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.game-menu button {
  padding: 0.5em 1em;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 1px;
  border: 1px solid #88c63f;
  background-color: #0f0f0f5b;
  color: #ffffffa2;
  /* border: none; */
  cursor: pointer;
  transition: all 0.4s ease;
}

.game-menu button:hover {
  background-color: #88c63f;
  transform: scale(1.1);
  transform: rotate(-5deg);
  color: #fff;
  text-shadow: 1px 2px #23232371;
}

.game-over-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffffa2;
  text-shadow: 1px 2px #23232371;
}

.game-over-container p {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffffa2;
  text-shadow: 1px 2px #23232371;
}

canvas {
  border: 2px solid #88c63f;
  width: 500px;
  height: 500px;
  background: #111;
}
